
 .container{

position: absolute;

 top:5%;
left:15%;
width:60%;
height:60%;

}



#carouselExampleControls{

background-color:grey;

}

#control{

background-color:white;

}

.full{
background-color:red;
width:100%;
height:100%;
}
