<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
 
    <link href="{{ asset("../vendor/twbs/bootstrap/dist/css//bootstrap.min.css") }}" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  <link rel = "stylesheet" href = "{{ asset("./css/style.css") }}">

  </head>
    <body>
        {% block body %}
      
     
     <div id="carouselExampleControls" class="carousel slide container " data-bs-ride="carousel">

     <ol class="carousel-indicators ">
    <li id = "control" class = "active" data-bs-target="#carouselExampleControls" data-bs-slide-to="0"></li>
    <li id = "control" data-bs-target="#carouselExampleControls" data-bs-slide-to="1"></li>
    <li id = "control" data-bs-target="#carouselExampleControls" data-bs-slide-to="2"></li>
    </ol>
 
  <div class="carousel-inner full ">
    <div class="carousel-item active ">
   1 
   </div>
    <div class="carousel-item ">
   2 
   </div>
    <div class="carousel-item ">
   3
    </div>

  </div>
  <a  class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
    <span style ="background-color:black" class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span  class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
    <span style ="background-color:black" class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>



       {% endblock %}
        {% block javascripts %}{% endblock %}

<script src="{{ asset("../vendor/twbs/bootstrap/dist/js/bootstrap.bundle.min.js") }}"></script>
<script src = "{{ asset("./script/carousel.js") }}">
</script>



<script>
carousel("#carouselExampleControls",0);
</script>


    </body>
</html>
